CompileFlags:
    Add: [
        -DROSALIA_ALLOC_IMPLEMENTATION,
        -DROSALIA_ARGPARSE_IMPLEMENTATION,
        -DROSALIA_BASE64_IMPLEMENTATION,
        -DROSALIA_JSON_IMPLEMENTATION,
        -DROSALIA_LOG_IMPLEMENTATION,
        -DROSALIA_MATH_IMPLEMENTATION,
        -DROSALIA_MEMCHECK_IMPLEMENTATION,
        -DROSALIA_NOISE_IMPLEMENTATION,
        -DROSALIA_RAND_IMPLEMENTATION,
        -DROSALIA_SEMVER_IMPLEMENTATION,
        -DROSALIA_SERIALIZATION_IMPLEMENTATION,
        -DROSALIA_STRING_IMPLEMENTATION,
        -DROSALIA_TIMESTAMP_IMPLEMENTATION,
        -DROSALIA_VECTOR_IMPLEMENTATION,
    ]
